#Ignore data file
*.data

#Ignore log files
*.log

#Ignore anything but the example config files
*.conf
!example_dnsconfig.conf
!example_mailconfig.conf

#Ignore pycache
__pycache__/
*.py[cod]

#Ignore dev env variables
**/.fleet
**/.vscode
*.zip
